.Character {
    display: fixed;
    width: 80px;
    height: 80px;
    margin-top: 16px;
    cursor: pointer;
    border: 4px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
}

.Character.selected {
    border: 4px solid #2998FF;
}

.Character > .character-image {
    width: 72px;
    height: 72px;
}

.Character > .character-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Character > .character-info > .character-element {
    width: 20px;
    height: 20px;
}

.Character > .character-info > .character-star {
    width: 80px;
    height: 20px;
}