.Filter {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.Filter > .filter-wrap {
    max-width: 980px;
    min-height: 44px;
    margin: 0 auto;
}

.Filter > .filter-wrap > .icons-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 16px;
}


.Filter > .filter-wrap > .icons-wrap > .icon-wrap {
    width: 28px;
    height: 28px;
    margin: 6px 16px 6px 0px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.Filter > .filter-wrap > .icons-wrap > .icon-wrap > .icon {
    width: 16px;
    height: 16px;
    padding: 6px;
}

.Filter > .filter-wrap > .icons-wrap > .icon-wrap-star {
    width: 76px;
    height: 28px;
    margin-right: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.Filter > .filter-wrap > .icons-wrap > .icon-wrap-star > .icon-star {
    width: 64px;
    height: 16px;
    padding: 6px;
}

.Filter > .filter-wrap > .icons-wrap > .icon-wrap.selected,
.Filter > .filter-wrap > .icons-wrap > .icon-wrap-star.selected {
    border: 2px solid #EADEC8;
    background-color: #F3F3F3;
}