.Needs > .show-hide-button {
    max-width: 980px;
    margin: 0 auto;
    padding: 8px 0;
    background-color: #EADEC8;
    font-family: 'MICEGothic';
    font-weight: bold;
    color: #C05A66;
    cursor: pointer;
}

.Needs > .wrap {
    max-width: 980px;
    margin: 0 auto;
    background-color: #EADEC8;
}

.Needs > .wrap > .needs-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}