.Need {
    position: relative;
    display: flex;
    margin: 4px;
}

.Need > .need-image {
    width: 60px;
    height: 60px;
}

.Need > .need-count {
    position: absolute;
    right: 0;
    bottom: 0;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Nanum Gothic';
}

@media screen and (max-width: 800px) {
    .Need > .need-image {
        width: 60px;
        height: 60px;
    }
}