.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.App > .content {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.App > .content > .wrap {
  display: flex;
  min-height: min-content;
  flex-basis: 980px;
  margin: 0 auto;
}